* {
	box-sizing: border-box;
}

body {
	background-color: #111016;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

._short {
	color: red;
}

button {
	cursor: pointer;
}

.container {
	flex: 1 1 100%;
	margin: 0 auto;
	max-width: 1360px;
}

.tabata {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tabata {

	/* .tabata__controller */
	&__controller {
		margin-bottom: 7px;

	}

	/* .tabata__start */
	&__start {}

	/* .tabata__stop */
	&__stop {}

	/* .tabata__body */
	&__body {
		border: 2px solid black;
		display: flex;
		min-width: 100%;
		justify-content: space-between;
	}

	/* .tabata__timer */
	&__timer {
		border: 1px solid black;
		display: flex;
		flex: 0 1 50%;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		div {
			font-size: 50px;

			@media (max-width: 450px) {
				font-size: 40px;
			}
		}
	}

	/* .tabata__settings */
	&__settings {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.tabata_rounds {
		border: 1px solid black;
		flex: 0 1 30%;
		padding: 0 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}
}

.minute {}

.second {}

.round__cult {
	display: flex;
	flex: 0 1 50%;
	justify-content: center;
	align-items: center;
	font-size: 50px;

	@media (max-width: 450px) {
		font-size: 40px;
	}
}

#start {
	background-color: rgba(20, 220, 23, 0.415);
	color: #fff;
	transition: all 0.5s;
	width: 80px;

	&:disabled,
	&[disabled] {
		opacity: 0.4;
	}
}

#stop {
	background-color: rgb(228, 11, 11);
	color: #fff;
	transition: all 0.5s;
	width: 80px;

	&:disabled,
	&[disabled] {
		opacity: 0.4;
	}

	&.active {
		opacity: 1;
		background-color: rgba(20, 220, 23, 0.415);
	}
}


.settings {
	flex: 1 1 120px;

	button {
		border: 0;
		padding: 0;
		color: #fb7706;
		font-weight: 700;
		font-size: 15px;
		background-color: transparent;
		margin: 0 2px;
	}

	/* .settings__duaration */
	&__duaration {}

	/* .settings__rest */
	&__rest {}

	/* .settings__long-rest */
	&__long-rest {}
}

.started {
	.settings {
		opacity: 0.4;
	}
}

._setting {
	border: 1px solid black;
	padding: 5px;
}

.setting {
	border: 1px solid black;
	padding: 5px;
}